{% extends "base.html.twig" %}

{% block body %}
    <h3>Most used words</h3>

    <ul class="list-group">
        {% for key, countWord in mostUsedWords %}
            <li class="list-group-item">{{ key }} ; {{ countWord }} times</li>
        {% endfor %}

    </ul>

    {{ parent() }}
{% endblock %}